body {
    font-family: "Outfit", sans-serif;
    background: rgb(213, 225, 239);
}

.main {
}

.qr {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr__wrapper {
    background: white;
    width: 320px;
    height: 499px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
    
}

.qr__img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}


.qr__title {
    font-size: 22px;
    font-weight: 700;
    width: 256px;
    height: 52px;
    text-align: center;
    color:rgb(31, 49, 79);
    line-height: 120%;
    padding-top: 16px;
}

.qr__text {
    width: 256px ;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: rgb(104, 119, 141);
    line-height: 140%;
}

